@model RegisterAndLogin.Models.UserModel

<div>
    <h4>Blog</h4>
    <hr />
    Travels
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
